@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden;--scrollbarBG: #CFD8DC; --thumbBG: #90A4AE; }

body { 
	overflow: auto;
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.hidden{
	display: none;
}

#header h1{
	text-align: center;
	text-transform: uppercase;
	font-family: verdana;
	font-size: 300%;
	font-weight: 700;
	color: #f5f5f5;
	text-shadow: 1px 1px 1px #919191,
		1px 2px 1px #919191,
		1px 3px 1px #919191,
		1px 4px 1px #919191,
		1px 5px 1px #919191,
		1px 6px 1px #919191,
	1px 18px 6px rgba(16,16,16,0.4),
	1px 22px 10px rgba(16,16,16,0.2),
	1px 25px 35px rgba(16,16,16,0.2),
	1px 30px 60px rgba(16,16,16,0.4);
	margin-bottom: 1.5%;
}

#logo{
	width: 1em;
}

#header h5{
	text-align: center;
	color: #f5f5f5;
	font-size: 60%;
}

#tutorialPage{
	width: 100%;
	display: none;
	overflow: hidden;
}

#tutBoard{
	position: relative;
    width: 100vw;
    height: 60vh;
}

.tutText{
	color: #f5f5f5; margin: 20px;
}

.tutText h2{ font-size: 2.5rem; border: 1px solid transparent;margin: 1em;}
.tutText h3{ font-size: 1.75rem;text-align: center; border: 1px solid transparent;}
.tutText p{font-size: 1.25rem; border: 1px solid transparent; line-height: 1.3em;}
.tutText p.shift-right{margin-left: 4em;}
.tutText p.shift-down{margin-top: 4em;}
.tutText p.shift-up{margin-bottom: 4em;}
.tutText p.center{text-align: center;}
.tutText p.shift-up-2{margin-bottom: 2em;}
.tutText span.explanation{font-size: 1rem}
.tutText span.shift-right{margin-left: 4em;}


#rule-1{
	width: 13em;
	display: block;
	margin: auto;
}

#rule-2{
	width: 33em;
	display: block;
	margin: auto;
}

#pngFixed{
	width: 17em;
	display: block;
	margin: auto;
}

#pngColourable{
	width: 12em;
	display: block;
	margin: auto;
}

#gamePage{
	overflow: auto;
	display: none;
}

.form { 
	position: relative;
	margin: auto;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
	top: 50%;
	width: 100%;
	height:100%;
}
.form h2 { font-size: 3.5rem ;color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; padding-bottom: 20px;}

.form h3 { font-size: 1rem ;color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; padding-top: 10px;padding-bottom: 10px;}

.form p{font-size: 1.25rem; color: #fff; line-height: 1.5em;text-align:center;padding-bottom: 10px;margin-bottom: 1em;}

p.disclosure{
	font-size: 0.8rem; color: #fff; line-height: 1.5em;text-align:center;padding-bottom: 10px;
}

/* #user-alert, #age-alert, #exp-alert{	 */
p.alert{
	display: none;
	font-size: 0.75rem;
	color: rgb(250, 0, 50);
	line-height: 10px;
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
}

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}


input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

#gameCanvas{
	position: relative;
    width: 99.5vw;
	height: 83vh;
	margin:auto;
	overflow:auto;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

#gamePage h3{
	position: relative;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.5rem;
	margin-top: 0.5rem;
	color: #f5f5f5;
	/* -webkit-text-stroke-width: 0.5px; */
  	-webkit-text-stroke-color: rgb(0, 0, 0);
}

/* #rule-violation{ */
.warning{
	display: none;
	position: absolute;
	font-size: 15px;
	color: rgb(250, 0, 50);
	-webkit-text-stroke-width: 0.5px;
  	-webkit-text-stroke-color: rgb(0, 0, 0);
	line-height: 10px;
	text-shadow: 1 0 0px rgba(0,0,0,0.3);
	pointer-events: none;
	z-index: 10000;
}

.hex, .t_hex{
	position: relative;
}
 
 .hex:hover, .t_hex:hover{
	 z-index: 1;
	 stroke: rgb(0, 0, 0);     
	 stroke-width: 3px;
	 opacity: 0.95;
	 /*opacity:1;*/
 }

.btn-prompt{
	text-align: center;
	margin: 0.5em;
}

.btn-Game{
	color: #494949 !important;
	text-transform: uppercase;
	width: 20%;
	text-decoration: none;
	background: #ffffff;
	padding: 10px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.btn-Game:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}

#btnHelp{
	width: 10%;
}

#btnNextPuzzle{
	display: none;
}

#btnReset{
	display: none;
}


#btnStart{
	margin-top: 2.5%;
}

#btnPlay{
	display: none;
}

.overlay {
	position: fixed; /* Positioning and size */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(128,128,128,0.5); /* color */
	display: none; 
  }


.modal-wrap{
	display: block;
	width: 60vw;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: auto;
	box-sizing: border-box;
	padding: 2rem;
	border: 1px solid #969696;
	background: #fff;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
	opacity: 0.95;
	overflow:auto;
	font: 400 16px/1.65em Open Sans, Arial, Sans-Serif;
	letter-spacing: -0.015em;
	color: #303030;
	text-align: center;
}

h2.overlay-H2 {
  /* font: 200 2em/1em Raleway, Open Sans, Arial, Sans-Serif; */
  font-size: 3rem;
  text-transform: initial;
  letter-spacing: -0.025em;
  margin: 0 0 3rem;
}

#solvedOverlay{z-index: 1010;}

#pop-wrap{z-index: 1011;}

#endOverlay{z-index: 1012;}


.overlay-btn-prompt .btn {
	padding: 1rem; 
	margin: 1rem 1rem;
	border-radius: 1.5rem;
	width: 30%;
  }

  /****************Check Box For Age*****************/

#ageContainer{
	margin:auto;
	text-align: center;
}

#ageContainer .radio {
     display:inline-block;
	 margin: 0.5rem;
}

#ageContainer .radio input[type="radio"] {
	 position: absolute;
	 display: inline-block;
	 width: 1.4em;
	 height: 1.4em;
	 opacity: 0;
}
#ageContainer .radio input[type="radio"] + .radio-label:before {
	 content: '';
	 background: #f4f4f4;
	 border-radius: 100%;
	 border: 1px solid #b4b4b4;
	 display: inline-block;
	 width: 1.4em;
	 height: 1.4em;
	 position: relative;
	 top: -0.2em;
	 margin-right: 1em;
	 vertical-align: top;
	 cursor: pointer;
	 text-align: center;
	 transition: all 250ms ease;
}
#ageContainer .radio input[type="radio"]:checked + .radio-label:before {
	 background-color: #3197ee;
	 box-shadow: inset 0 0 0 4px #f4f4f4;
}
#ageContainer .radio input[type="radio"]:focus + .radio-label:before {
	 outline: none;
	 border-color: #3197ee;
}
#ageContainer .radio input[type="radio"]:disabled + .radio-label:before {
	 box-shadow: inset 0 0 0 4px #f4f4f4;
	 border-color: #b4b4b4;
	 background: #b4b4b4;
}
#ageContainer .radio input[type="radio"] + .radio-label:empty:before {
	 margin-right: 0;
}
#ageContainer .radio-label{
	color: #fff; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px;
 }

/***************************************************************/


/*****************************Star Rating***********************/
fieldset, label { margin: 0; padding:0; }
#starRatingStart{
	position: relative;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
}

/****** Style Star Rating Widget *****/

.rating { 
	display: inline-block;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
	margin: 5px;
	font-size: 1.5em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
  }
  
  .rating > .half:before { 
	content: "\f089";
	position: absolute;
  }
  
  .rating > label { 
	color: #ddd; 
   float: right; 
  }
  
  /***** CSS to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: rgb(253, 232, 112);  } 

/*****************************************************************/